.update-address {
    width: 100%;
    height: auto;
}

.update-address__inner {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h2 {
    width: fit-content;
}

.update-address form {
    width: 70%;
    height: auto;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

}

.form-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

}

label {
    font-weight: bold;
}

input {
    height: 35px;
    border-radius: 3px;
    border: 1px solid #949292;
}

button {
    margin-top: 50px;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #FF5555;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .update-address__inner {
        width: 90%;
        margin-top: 30px;
    }

    input,
    button {
        width: 100%;
    }


}